
.margin-fix {
    margin: 1em;
}

.container {
    margin: 1em;
}

.button-like {
    color: #1616ee;
}

.button-like:hover {
    color: rgba(249, 29, 32, 0.55);
    cursor: pointer;
    transition: all 500ms ease;
}