
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Create Contact</button>
            <button class="btn btn-info" ng-click="printList()">List of Contacts</button>
        </div>
    </div>
</div>

<ul>
    <li class="{{c._id}}" ng-repeat="c in contacts">
        <a href="#/contacts/{{c._id}}">{{c.name}} | {{c.email}} | {{c.tel}}</a>
        <span class="button-like" ng-click="prepareUpdate(c)">Update</span>
        <span class="button-like" ng-click="removeContact(c._id)">Remove</span>
    </li>
</ul>

<!-- Modal for Create Contact -->
<div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                -->
                <button type="button" class="close" ng-click="cancelContact()">&times;</button>
                <h4 class="modal-title">Contact Info</h4>
            </div>
            <div class="modal-body">
                <div class="margin-fix">
                    <input type="text" ng-model="contact.name" placeholder="Full name" />
                </div>
                <div  class="margin-fix">
                    <input type="text" ng-model="contact.email" placeholder="Email" />
                </div>
                <div  class="margin-fix">
                    <input type="tel" ng-model="contact.tel" placeholder="Telephone" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancelContact()">Cancel</button>
                <button class="btn btn-default" ng-click="saveContact()">Submit</button>
            </div>
        </div>
    </div>
</div>